**/__pycache__
workspace.code-workspace
env
build
dist/**
src/tapas_utaustin.egg-info/**
src/tapas_res/grammars.so
src/tapas_res/apps/**
src/tapas_res/py150/**
src/tapas_res/cubert/**
src/tapas_res/cache/**
src/test_python_analysis_system.py
src/tapas_res/typeshed_object
src/tapas_res/stub_cache
src/tapas_res/python_grammar.json
.DS_Store
